/DanaAnalysis.Service/obj
/DanaAnalysis.Service/bin/Debug/netcoreapp3.1
/DataAnalysis/bin/Debug/netcoreapp3.1
/DataAnalysis/obj
/DataAnalysis.Domain/bin/Debug/netcoreapp3.1
/DataAnalysis.Domain/obj
/.vs/DataAnalysis
